.header {
    background-color: black;
    font-size:1.6rem;
    padding: 3rem 0;
    color: #fff;
    
}

.header__text{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
}

.header__logo{
    
    text-align: center;
}

.header__logo img {
    width: 5rem;
    height: 5rem;
    display: inline-block;

}