
.search, .search__results {
    font-size: 1.8rem;
    background: white;
    padding: 4rem;
}
.search > * {
    border-radius: 5px;
}

.search__input {
    height: 4rem;
    background: lightgoldenrodyellow;
    outline: none;
    border: 1px solid grey;
}

.search__btn {
    cursor: pointer;
    font-size: inherit;
    font-weight: 700;
    margin-left: 2rem;
}

.search__results {
    overflow: scroll;
}

.search__counter {
    font-size: 2rem;
    font-weight: 600;
    border-bottom:1px solid #e1e4e8;
    padding-bottom: 1.6rem;
}

.search__list {
    background-color: lightslategray;
    list-style: none;
}

.emptyRepos {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    color: darkgray;
}